<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <span>Component</span>
    <button mat-icon-button aria-label="add an element" [matMenuTriggerFor]="allTags.childMenu">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
  <!-- Node with no Child -->
  <mat-tree-node class="node" *matTreeNodeDef="let node; when !hasChildren" matTreeNodePadding matTreeNodeToggle [ngClass]="{selected: selected === node}"
    (click)="select(node)">
    {{ node.nodeName }}
  </mat-tree-node>

  <!-- Node with children -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when hasChildren">
    <div class="node" [ngClass]="{'selected': selected === node}" (click)="select(node)">
      <button mat-icon-button aria-label="toggle node" matTreeNodeToggle>
        <mat-icon [ngClass]="{'opened': treeControl.isExpanded(node)}" class="toggle-icon">arrow_right</mat-icon>
      </button>
      <span>{{ node.nodeName }}</span>
    </div>
    <div class="child" *ngIf="treeControl.isExpanded(node)">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>

<button mat-raised-button (click)="save()">Save</button>

<nested-menu (select)="addElement($event)" #allTags [items]="tagList"></nested-menu>
