<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <span>Component</span>
    <button mat-icon-button aria-label="add an element" [matMenuTriggerFor]="allTags.childMenu">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list *ngIf="(tree$ | async) as tree">
  <div class="node" [ngClass]="{'selected': (selected$ | async) === i}" *ngFor="let node of tree; let i = index" (click)="select(i)">
    <mat-list-item class="level" [style.paddingLeft]="node.level*10+'px'" *ngIf="node.visible">
      <button (click)="toggle(tree, node)" mat-icon-button>
        <mat-icon [ngClass]="{'expanded': node.expanded}" *ngIf="node.children.length > 0">arrow_right</mat-icon>
      </button>
      {{node.name}}
    </mat-list-item>
  </div>
  <button mat-raised-button (click)="compile(tree)">Compile</button>
</mat-list>


<nested-menu (select)="addElement($event)" #allTags [items]="tagList"></nested-menu>
