<mat-sidenav-container>
  <!-- Left -->
  <mat-sidenav opened="true" position="start" mode="side">
    <router-outlet name="left"></router-outlet>
  </mat-sidenav>
  <!-- Middle -->
  <mat-sidenav-content>
    <mat-card>
      <module-sandbox *ngIf="module$ | async as module" [module]="module"></module-sandbox>
    </mat-card>
  </mat-sidenav-content>
  <!-- Right -->
  <mat-sidenav opened="true" position="end" mode="side">
    <router-outlet name="right"></router-outlet>
  </mat-sidenav>
</mat-sidenav-container>
